<div class="navigation-panel">
  <div class="sidebar ">
    <ul class="nav ">

      <li routerLinkActive="active">
        <a routerLink="home">Home
          <i class="fa fa-home" aria-hidden="true"></i>
        </a>
      </li>
      <li>
        <a routerLink="home">Customers
          <i class="fa fa-users" aria-hidden="true"></i>
        </a>
      </li>
      <li>
        <a routerLink="registerCustomer">Register Customer
          <i class="fa fa-user-plus" aria-hidden="true"></i>
        </a>
      </li>

      <li>
        <a routerLink="home">Movies
          <i class="fa fa-film" aria-hidden="true"></i>
        </a>
      </li>
      <li>
        <a routerLink="addMovie">Add Movie
          <i class="fa fa-plus-circle" aria-hidden="true"></i>
        </a>
      </li>
      <li>
        <a routerLink="home">Rental History
          <i class="fa fa-leanpub" aria-hidden="true"></i>
        </a>
      </li>
      <li>
        <a routerLink="home">Login
          <i class="fa fa-sign-in" aria-hidden="true"></i>
        </a>
      </li>

    </ul>

  </div>
</div>