
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
<nav class="navbar navbar-default navbar-fixed-top  menubar">
  <!--  navbar-inverse -->
  <div class="container-fluid">
    <div class="navbar-header ">
      <a class="navbar-brand active" href="#" style="font-weight:bold;">Home Cinema</a>
    </div>
    <ul class="nav navbar-nav">        
      <li><a href="#">About <i class="fa fa-info-circle" aria-hidden="true"></i></a></li>
    </ul>
  </div>
</nav>