app-navigation-panel{
    position: absolute;
    width: 225px;
    margin-top: 60px;
    
}

/* 
app-dashboard{
    position: absolute;
    margin-top: 60px;
    margin-left: 250px;
    border: solid royalblue 2px;
    border-radius: 3px;
    min-width: 200px;
    width:82%;
    margin-bottom: 50px;
    
    
} */